
<ul>
    
      <li><div style="margin-top:6px ;margin-left:10px;padding:5px;background-color:#2f48d4"><h2>1805488</h2></div></li>
  
  <li><a class="active" href="/employee/list">Home</a></li>
  <li><a href="/employee/aboutme">About Me</a></li>
  
</ul>

<div style="margin-left:15%;padding:1px 16px;height:1000px;">
    <h1 > My Meetings</h1>
<div>Name:HOMAGNI GHOSH</div><br>
<div>Roll:1805488</div><br>
<div>Github:github.com/hghosh567</div><br>
<div>skills:html,nodejs,etc</div><br>
Projects:<br>
1:My portfolio<br>
2:some project

</div>